@font-face {
  font-family: 'DejaVu Extra Light';
  src: url('/fonts/DejaVuSans-ExtraLight.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('/fonts/DejaVuSerifCondensed-Bold.woff2') format('woff2');
  font-weight: bolder;
  font-style: serif;
  font-display: block;
}

@font-face {
  font-family: 'DejaVu Condensed Bold';
  src: url('/fonts/DejaVuSansCondensed-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'DejaVu Condensed';
  src: url('/fonts/DejaVuSansCondensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
