Redirect 301 /cv http://bondux.dev/cv.html
Redirect 301 /skills http://bondux.dev/skills.html
Redirect 301 /contact http://bondux.dev/contact.html
Redirect 301 /projects http://bondux.dev/projects.html
